.navigation{
    width: 280px;
    height: calc(100% - 40px);
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    margin: 20px 10px;
    border-right: 1px solid #ccc;
    a{
        display: block;
    }
}